<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>com.collab.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <display-name>ServletCollabDemoProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>B</display-name>
    <servlet-name>B</servlet-name>
    <servlet-class>com.collab.B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/B</url-pattern>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C</display-name>
    <servlet-name>C</servlet-name>
    <servlet-class>com.collab.C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C</servlet-name>
    <url-pattern>/C</url-pattern>
    <url-pattern>/c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>D</display-name>
    <servlet-name>D</servlet-name>
    <servlet-class>com.collab.D</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D</servlet-name>
    <url-pattern>/D</url-pattern>
    <url-pattern>/d</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextDemo</display-name>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>com.collab.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/ServletContextDemo</url-pattern>
    <url-pattern>/sco</url-pattern>
  </servlet-mapping>
</web-app>