<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.gym.controller.Register</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>Ias@2025</param-value>
    </init-param>
    <init-param>
      <param-name>driverlink</param-name>
      <param-value>jdbc:mysql://localhost/icon</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <display-name>ZumbaGym</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BatchServlet</display-name>
    <servlet-name>BatchServlet</servlet-name>
    <servlet-class>com.gym.controller.BatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchServlet</servlet-name>
    <url-pattern>/batch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBatches</display-name>
    <servlet-name>SearchBatches</servlet-name>
    <servlet-class>com.gym.controller.SearchBatches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBatches</servlet-name>
    <url-pattern>/SearchBatches</url-pattern>
    <url-pattern>/sb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllBatches</display-name>
    <servlet-name>DisplayAllBatches</servlet-name>
    <servlet-class>com.gym.controller.DisplayAllBatches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllBatches</servlet-name>
    <url-pattern>/DisplayAllBatches</url-pattern>
    <url-pattern>/dab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayParticipantDetails</display-name>
    <servlet-name>DisplayParticipantDetails</servlet-name>
    <servlet-class>com.gym.controller.DisplayParticipantDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayParticipantDetails</servlet-name>
    <url-pattern>/DisplayParticipantDetails</url-pattern>
    <url-pattern>/dpd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayParticipantDetails_v2</display-name>
    <servlet-name>DisplayParticipantDetails_v2</servlet-name>
    <servlet-class>com.gym.controller.DisplayParticipantDetails_v2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayParticipantDetails_v2</servlet-name>
    <url-pattern>/dpv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllParticipants</display-name>
    <servlet-name>DisplayAllParticipants</servlet-name>
    <servlet-class>com.gym.controller.DisplayAllParticipants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllParticipants</servlet-name>
    <url-pattern>/DisplayAllParticipants</url-pattern>
    <url-pattern>/dap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayParticipantByBatch</display-name>
    <servlet-name>DisplayParticipantByBatch</servlet-name>
    <servlet-class>com.gym.controller.DisplayParticipantByBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayParticipantByBatch</servlet-name>
    <url-pattern>/DisplayParticipantByBatch</url-pattern>
    <url-pattern>/dppb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchParticipantByName</display-name>
    <servlet-name>SearchParticipantByName</servlet-name>
    <servlet-class>com.gym.controller.SearchParticipantByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchParticipantByName</servlet-name>
    <url-pattern>/SearchParticipantByName</url-pattern>
    <url-pattern>/spbn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchParticipantById</display-name>
    <servlet-name>SearchParticipantById</servlet-name>
    <servlet-class>com.gym.controller.SearchParticipantById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchParticipantById</servlet-name>
    <url-pattern>/SearchParticipantById</url-pattern>
    <url-pattern>/spbi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipantsDetails</display-name>
    <servlet-name>ParticipantsDetails</servlet-name>
    <servlet-class>com.gym.controller.ParticipantsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantsDetails</servlet-name>
    <url-pattern>/ParticipantsDetails</url-pattern>
    <url-pattern>/participantdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParticipant</display-name>
    <servlet-name>DeleteParticipant</servlet-name>
    <servlet-class>com.gym.controller.DeleteParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParticipant</servlet-name>
    <url-pattern>/DeleteParticipant</url-pattern>
    <url-pattern>/deleteparticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditParticipant</display-name>
    <servlet-name>EditParticipant</servlet-name>
    <servlet-class>com.gym.controller.EditParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditParticipant</servlet-name>
    <url-pattern>/EditParticipant</url-pattern>
    <url-pattern>/editparticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateParticipant</display-name>
    <servlet-name>UpdateParticipant</servlet-name>
    <servlet-class>com.gym.controller.UpdateParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParticipant</servlet-name>
    <url-pattern>/UpdateParticipant</url-pattern>
    <url-pattern>/updateparticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBatch</display-name>
    <servlet-name>DeleteBatch</servlet-name>
    <servlet-class>com.gym.controller.DeleteBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatch</servlet-name>
    <url-pattern>/DeleteBatch</url-pattern>
    <url-pattern>/deletebatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBatch</display-name>
    <servlet-name>CancelBatch</servlet-name>
    <servlet-class>com.gym.controller.CancelBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBatch</servlet-name>
    <url-pattern>/CancelBatch</url-pattern>
    <url-pattern>/cancelbatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBatch</display-name>
    <servlet-name>EditBatch</servlet-name>
    <servlet-class>com.gym.controller.EditBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBatch</servlet-name>
    <url-pattern>/EditBatch</url-pattern>
    <url-pattern>/editbatch</url-pattern>
  </servlet-mapping>
</web-app>